# Dependencies
node_modules/

# Database
database/*.db
database/*.db-journal
database/.jwt-secret
database/.last-backup
database/.kkm.json
database/backups/

# Build output
frontend/dist/
backend/dist/
backend/public/
backend/build-info.txt

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep
backend/uploads/temp/*

# Prisma
backend/prisma/migrations/

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo
